<div class="row">
    <div class="col-md-4">
        <h2>Tax Location Rate</h2>
        <p>@ViewBag.StateRate</p>
    </div>
    <div class="col-md-4">
        <h2>Total Taxes For Order</h2>
        <p>@ViewBag.TotalTaxes</p>
    </div>
</div>
